<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />


</div> -->


<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"><img src="assets/logo.png" alt="..." width="75" height="50"> &nbsp;
            <b>Solaivanam</b> Foundation</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="#projects" class="w3-bar-item w3-button">Orphan</a>
            <a href="#about" class="w3-bar-item w3-button">About</a>
            <a href="#donate" class="w3-bar-item w3-button">Donate us</a>
            <a href="#contact" class="w3-bar-item w3-button">Contact</a>
        </div>
    </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="w3-image" src="assets/IMG_5603.JPG" alt="..." width="1500" height="800">
          </div>
          <div class="carousel-item">
            <img class="w3-image" src="assets/IMG_5573-3.JPG" alt="Architecture" width="1500" height="800">
          </div>
          <div class="carousel-item">
            <img class="w3-image" src="assets/IMG_5533.JPG" alt="Architecture" width="1500" height="800">
          </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
    <!-- <img class="w3-image" src="assets/IMG_5533.JPG" alt="Architecture" width="1500" height="800"> -->
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Solaivanam</b></span> <span class="w3-hide-small w3-text-light-grey"> Foundation</span></h1>
        <span class="w3-hide-small w3-text-light-grey subtittle">Enlightening lives</span>
    </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Orphan</h3>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <!-- <div class="w3-display-topleft w3-padding">hello</div> -->
                <img src="assets/IMG_5603.JPG" alt="House" style="width:100%">
                <p>We had started with 4 children but now we have 25 destitute in our place. with your support we can do lot.</p>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <!-- <div class="w3-display-topleft w3-black w3-padding">Brick House</div> -->
                <img src="assets/IMG_5543.JPG" alt="House" style="width:100%">
                <p>We are training some self-employment skills to the destitute like paper carrybag, knitting, embroidery, etc. according to their capablities.</p>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <!-- <div class="w3-display-topleft w3-black w3-padding">Renovated</div> -->
                <img src="assets/IMG_5622.JPG" alt="House" style="width:100%">
                <p>If you can’t feed a hundred people, then feed just one.</p>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <!-- <div class="w3-display-topleft w3-black w3-padding">Barn House</div> -->
                <img src="assets/IMG_5540.JPG" alt="House" style="width:100%">
                <p>In solaivanam, most of them are with autism, Join our hands to support them to lead their lives.</p>
            </div>
        </div>
    </div>

    <!-- <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
                <img src="/w3images/house2.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
                <img src="/w3images/house5.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
                <img src="/w3images/house4.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
                <img src="/w3images/house3.jpg" alt="House" style="width:99%">
            </div>
        </div>
    </div> -->

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p>
                We Accomodate, Feed & Treatment children of the home
                WHO WE ARE?
                Accomdation FoodProviding Medical Centre 
                Self-employment.
                <br><br>
                We has a volunteer religious organization and pioneer in doing service in the areas of where its functioning. It felt’s an urgency for upcoming of an orpahange for orphan, semi orphan and destitute children. It has been functioning since 2016 vide registration no. 159/2016 with Sub registrar, Registration office at Chennai. It founded by Mrs. K. Gayathri and Mr. J. Jel Salomon are the Founder cum Managing Trustee and President of this organization.
                <br><br>
                We has started with minimum of 4 inmates but later on as days go it inmates also growing and at present we have 25 inmates who are feel happy and forgetting about their past profession like working at welding shops, Mechanic shops, begging profession and etc., we are supporting the orphan Children by providing them Food, Self-employment, Clothing, Medical, and Shelter. we has been in this service through this almost 150 children benefited.
                
                
        </p>
    </div>

    <!-- Donate Section -->
    <div class="w3-container w3-padding-32" id="donate">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Donate</h3>
            <ul>
                   <li>Sponsor for Breakfast (Rs. 3,000/-)</li> 
                    <li>Sponsor for Special Lunch (Rs. 4,500/-)</li>
                    <li>Sponsor for Dinner (Rs. 3,500/-)</li> 
                    <li>Sponsor for Non-Veg Meal (Chicken Biriyani) (Rs. 6,500/-)</li>
                    <li> Sponsor Meal for a Day (Rs. 10,000/-)</li> 
                    <li>Sponsor New Clothing for a Child (Rs. 5,000/-)</li>
                    <li> Sponsor Medical Expenses for Children (Rs. 18,000/-)</li> 
                    <li>Sponsor for Monthly Provisions (Rs. 35,000/-)</li>
            </ul>
            <p style="font-style: italic;font-weight: bold">'Speak up for those who cannot speak for themselves, for the rights of all who are destitute.'</p>
        </div>

    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="assets/IMG_5516.JPG" alt="" style="width:100%">
            <h3>Mr. J. Jel Salomon</h3>
            <p class="w3-opacity">Founder</p>
            <p>Founder of Solaivanam and Physiotherapist</p>
            <!-- <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
        </div>
        <!-- <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <h3>Jane Doe</h3>
            <p class="w3-opacity">Architect</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
            <h3>Mike Ross</h3>
            <p class="w3-opacity">Architect</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="/w3images/team4.jpg" alt="Dan" style="width:100%">
            <h3>Dan Star</h3>
            <p class="w3-opacity">Architect</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div> -->
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
        <p>We are here to help you for destitute.</p>
        <p>No.16, 46th cross street</p>
        <p>Kannaki Nagar, Thoraipakkam.</p>
        <p>Chennai -600097</p>
        <p>Tamil Nadu, India.</p>
        
    </div>

    <!-- Image of location/map -->
    <div class="w3-container">
        <!-- <img src="/w3images/map.jpg" class="w3-image" style="width:100%"> -->
    </div>

    <!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p class="footer"> © Solaivanam Copyright 2020 </p>
</footer>